---
import ArticleCard from "../../../components/ArticleCard.astro";
import Pagination from "../../../components/Pagination.astro";
import Page from "../../../layouts/Page.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../../consts";
import { slugify } from "../../../utils/slugify";
import { getAllPosts, getPostHref, getUniqueTags, paginate } from "../../../utils/posts";

export async function getStaticPaths() {
    const posts = await getAllPosts();
    const tags = getUniqueTags(posts);
    return tags.map((tag) => ({ params: { tag: tag.slug }, props: { tag } }));
}

const { tag } = Astro.props;

const posts = (await getAllPosts()).filter((post) => (post.data.tags ?? []).some((t) => slugify(t) === tag.slug));
const { items, totalPages } = paginate(posts, 1);
---

<Page
    title={`${SITE_TITLE} · #${tag.name}`}
    description={SITE_DESCRIPTION}
    heading={`#${tag.name}`}
    subheading={`All posts tagged “${tag.name}”.`}
    label="Tag"
>
    {items.map((post) => (
        <ArticleCard
            href={getPostHref(post)}
            title={post.data.title}
            description={post.data.description}
            tags={post.data.tags}
        />
    ))}

    <div slot="pagination">
        <Pagination basePath={`/tags/${tag.slug}`} currentPage={1} totalPages={totalPages} />
    </div>
</Page>

